<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>账单管理系统</title>
    <meta charset="utf-8">
    <meta name="keywords" content="账单管理系统" />
    <meta name="description" content="账单管理系统">
    <meta name="author" content="q-linyu">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/assets/googleapis/fonts.googleapis.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/jquery-growl/jquery.growl.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/uniform/css/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/switchery/switchery.min.css}">
    <!-- 加载进度条 -->
    <link rel="stylesheet" th:href="@{/assets/nprogress/nprogress.css}">
    <!-- 日期控件 -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/space.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/customer.css}">
    <style type="text/css">
        .form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline{
            margin-top: -5px;
        }

        .error{
            color: #ff0e1b;
        }
    </style>
</head>
<body>
<!-- Page Container -->
<div class="page-container">

    <!-- 左侧导航栏 -->
    <div th:replace="common/sidebar :: sidebar(activeUrl = 'customer')"></div>

    <!-- Page Content -->
    <div class="page-content">

        <!-- 头部 -->
        <div th:replace="common/header :: header"></div>

        <!-- Page Inner -->
        <div class="page-inner">
            <div class="page-title">
                <h3 class="breadcrumb-header">添加客户</h3>
            </div>
            <div id="main-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-body">
                                <form class="form-horizontal" id="addForm" method="post">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">客户名</label>
                                        <div class="col-sm-5">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    name="name"
                                                    id="name"
                                                    placeholder="请输入客户名"
                                                    onfocus="inputfocus(this)"
                                                    onblur="inputBlur(this)"
                                            >
                                            <p class="help-block error"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="age" class="col-sm-3 control-label">年龄</label>
                                        <div class="col-sm-5">
                                            <select id="age" name="age" class="form-control" onclick="selectClick()">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">性别</label>
                                        <div class="col-sm-5">
                                            <label class="radio-inline">
                                                <input type="radio" name="gender" id="man" value="1" checked="checked"> 男
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="gender" id="wonman" value="0"> 女
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">邮箱</label>
                                        <div class="col-sm-5">
                                            <input
                                                    type="email"
                                                    class="form-control"
                                                    name="email"
                                                    id="email"
                                                    onfocus="inputfocus(this)"
                                                    onblur="inputBlur(this)"
                                                    placeholder="请输入邮箱"
                                            />
                                            <p class="help-block error"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="birthday" class="col-sm-3 control-label">出生日期</label>
                                        <div class="col-sm-5">
                                            <input
                                                    type='text'
                                                    class="form-control datetimepicker-input"
                                                    name="birthday"
                                                    data-toggle="datetimepicker"
                                                    id="birthday"
                                                    onfocus="inputfocus(this)"
                                                    onblur="inputBlur(this)"
                                                    placeholder="请选择出生日期"
                                            />
                                            <p class="help-block error"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address" class="col-sm-3 control-label">地址</label>
                                        <div class="col-sm-5">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    name="address"
                                                    id="address"
                                                    onfocus="inputfocus(this)"
                                                    onblur="inputBlur(this)"
                                                    placeholder="请输入地址"
                                            >
                                            <p class="help-block error"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class=" control-label col-sm-3 ">状态</label>
                                        <div class="col-sm-5">
                                            <label class="radio-inline" for="activated">
                                                <input type="radio" name="state" id="activated" class="radio-inline" value="1">
                                                已激活
                                            </label>
                                            <label class="radio-inline" for="notActive">
                                                <input type="radio" name="state" id="notActive" class="radio-inline" value="0" checked="checked">
                                                未激活
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button
                                                    type="submit"
                                                    class="btn btn-primary btn-sm btn-block"
                                                    style="margin-top:30px;margin-bottom:-14px;"
                                                    onclick="addHandler();return false;"
                                            >保 存
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 底部 -->
            <div th:replace="common/footer :: footer"></div>

        </div>
    </div>


</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/jquery-growl/jquery.growl.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/uniform/js/jquery.uniform.standalone.js}"></script>
<!-- 加载进度条 -->
<script type="text/javascript" th:src="@{/assets/nprogress/nprogress.js}"></script>
<script type="text/javascript" th:src="@{/assets/nprogress/initNprogress.js}"></script>
<!-- 日期控件 -->
<script th:src="@{/assets/moment/moment-with-locales.min.js}"></script>
<script th:src="@{/assets/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/space.min.js}"></script>
<script type="text/javascript" th:src="@{/js/initTable.js}"></script>
<script type="text/javascript">
    $(function () {
        $('#birthday').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: 'zh-CN'
        });

        var temp = null;
        // 循环1-150年龄
        for (var i = 1;i <= 150;i++){
            if (18 === i){
                temp = "<option value="+i+" selected=selected"+">"+i+"</option>";
            }else {
                temp = "<option value="+i+">"+i+"</option>";
            }
            $("#age").append(temp);
        }

    });

    // 选中
    function selectClick() {
        $("#age option:selected").attr("selected",true).siblings('option').attr("selected",false);
    }

    // 表单验证
    function checkValid(dom) {

        // 默认为false
        var bool = true;

        var id = $(dom).attr("id");
        var val = $(dom).val();

        switch (id) {
            case "name":
                if ("" === val){
                    $("#name").next("p").html("客户名不能为空").parent().parent().addClass("has-error");
                    bool = false;
                }else {
                    $.ajax({
                        url: '/customer/checkByname',
                        type: 'GET',
                        data : {
                            "name": $("#name").val()
                        },
                        dataType: "json",
                        success : function(res) {
                            if (res.status === 200){
                                $("#name").next("p").html("客户名可以使用").parent().parent().addClass("has-success");
                            }else {
                                $("#name").next("p").html("客户名已被注册").parent().parent().addClass("has-error");
                                bool = false;
                            }
                        },
                        error : function(err){
                            bool = false;
                            console.log(err);
                        }
                    });
                }
                break;
            case "email":
                var regex = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
                if ("" === val){
                    $("#email").next("p").html("邮箱不能为空").parent().parent().addClass("has-error");
                    bool = false;
                }else if (!regex.test(val)){
                    $("#email").next("p").html("邮箱格式不正确").parent().parent().addClass("has-error");
                    bool = false;
                } else {
                    $("#email").next("p").html("").parent().parent().addClass("has-success");
                }
                break;
            case "birthday":
                if ("" === val){
                    $("#birthday").next("p").html("出生日期不能为空").parent().parent().addClass("has-error").removeClass("has-success");
                    bool = false;
                }else {
                    $("#birthday").next("p").html("").parent().parent().addClass("has-success").removeClass("has-error");
                }
                break;
            case "address":
                if ("" === val){
                    $("#address").next("p").html("地址不能为空").parent().parent().addClass("has-error");
                    bool = false;
                }else {
                    $("#address").next("p").html("").parent().parent().addClass("has-success");
                }
                break;
            default:
                bool = false;
                break;
        }

        return bool;
    }

    // 获取焦点
    function inputfocus(dom) {
        $(dom).next("p").html("").removeClass("error").parent().parent().removeClass("has-error has-success");
    }

    // 失去焦点
    function inputBlur(dom) {
        checkValid(dom);
    }


    // 新增
    function addHandler() {
        var bool = true;

        // 表达验证
        $("#addForm input[id]:not([type='radio'])").each(function (i,e) {
            if (checkValid(e) === false){
                bool = false;
            }
        });

        if (bool){
            console.log("进入 ajax 操作.......");
            // 发送ajax
            $.ajax({
                url: '/customer/add',
                type: 'POST',
                data: $("#addForm").serialize(),
                dataType: 'JSON',
                success : function(res){
                    if (res.status === 201){
                        $.growl.notice({
                            title: "温馨提示",
                            message: res.msg
                        });
                        // 数据清空
                        $("#name").val('');
                        $("#age").val("18");
                        $("#man").attr("checked",true).siblings().attr("checked",false).parent('span').removeClass('checked');
                        $("#activated").attr("checked",true).siblings().attr("checked",false).parent('span').removeClass('checked');
                        $("#email").val('');
                        $("#birthday").val('');
                        $("#address").val('');
                        // 样式清空
                        $(".form-group").removeClass("has-success").find('p').removeClass('error').html('');
                    }else {
                        $.growl.error({
                            title: "温馨提示",
                            message: res.msg
                        });
                    }
                },
                error : function(err){
                    console.error(err);
                }
            });
        }
        return bool;

    }





</script>
</body>
</html>